extends layout

block content
  h1= title

  // CREATE BUTTON (TOP)
  a(href='/costumes/create')
    button Create New Costume

  br
  br

  // LOOP THROUGH ITEMS
  each item in results
    div
      strong #{item.costume_type}
      |  | Size: #{item.size}
      |  | Cost: #{item.cost}
      br

      // DETAIL BUTTON
      a(href='/costumes/detail?id=' + item._id)
        button Detail

      // UPDATE BUTTON
      a(href='/costumes/update?id=' + item._id)
        button Update

      // DELETE BUTTON
      a(href='/costumes/delete?id=' + item._id)
        button Delete

      br
      br