extends layout

block content
  h2 Costume Detail

  if toShow
    div
      span(class="costumeAttr") Costume Type:
      span= toShow.costume_type
    br

    div
      span(class="costumeAttr") Size:
      span= toShow.size
    br

    div
      span(class="costumeAttr") Cost:
      span= toShow.cost
    br
  else
    p No costume found.