extends layout

block content
  h1 Costume Search Results
  - let items = results;

  div(style="display:flex; flex-wrap:wrap; gap:20px; align-items:flex-start;")
    each item in items
      div(style="border:1px solid #ccc; padding:15px; width:220px; box-sizing:border-box;")
        h3 #{item.costume_type}
        p Size: #{item.size}
        p Cost: $#{item.cost}
        a(href='/costumes/update?id=' + item._id) Update