extends layout

block content
  h1= title

  form(id='CostumeForm', action='/resource/costumes', method='POST')
    div
      label.costumeAttr(for='costume_type') Costume type
      input#costume_type(type='text', name='costume_type')

    br

    div
      label.costumeAttr(for='size') Costume size
      input#size(type='number', name='size')

    br

    div
      label.costumeAttr(for='cost') Costume cost
      input#cost(type='number', name='cost')

    br

    input(type='submit')

  script.
    document.forms['CostumeForm'].addEventListener('submit', async (event) => {
      event.preventDefault();
      try {
        const resp = await fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target))
        });

        const body = await resp.json();

        if (!resp.ok || body.error) {
          alert("Save failed: " + (body.error || "Validation error"));
          return;
        }

        alert("Save succeeded");
        window.location.href = "/costumes";
      } catch (error) {
        alert("Save failed: " + error);
      }
    });